#root {
  margin-top: 10vh;
  padding: 20px;


}



.component {
  margin-top: 60px;
  margin-left: 20px;
  padding: 10px;
  width: 300px;
  font-family: 'Amatic SC';
  font-size: 40px;




}

.comic-component {
  margin-top: 60px;
  margin-left: 20px;
  padding: 10px;
  width: 300px;
  border: 3px solid black;
  background-color: white;
  font-family: 'Amatic SC';
  font-size: 40px;

}

.persona-component {
  margin-top: 60px;
  margin-left: 20px;
  padding: 10px;
  width: 300px;
  background-color: white;
  font-family: 'Amatic SC';
  font-size: px;
}

.component_item {
  margin-top: 60px;
  margin-left: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  background-color: white;

}

.review-box {
  position: relative;
  left: -10px;
  top: 200px;



}

ul.component-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;


}


header {
 position: absolute;
  /* z-index: -1; */
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header * {
  display: inline;
}

header img {
  height: 10vh;
  margin-left: 10px;



}

header li {
  margin: 20px;


}

.navLink {
  display: inline;

}


body {
    background-color: white;
    height: 90vh;
}


.login {
  color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

a {
  color: black;
}

.comicdescription-box {
  position: absolute;
  margin-left: 400px;
  top: 155px;
  height: 100vh;
  width: 50vw;
  border: 3px solid black;
  background-color: white;
  font-family: 'Amatic SC';
  font-size: 40px;
}

.characterdescription-box {
  position: absolute;
  margin-left: 400px;
  top: 160px;
  height: 60vh;
  width: 50vw;
  border: 3px solid black;
  background-color: white;
  font-family: 'Amatic SC';
  font-size: 40px;

}

.topnav{
  position: center;



}


/* .cloudlogo{
  margin-left: -100px;
  bottom: 10vw;
  top: 300vw;
  right: 800px;
}

.cloudlogo2{
  margin-left: -100px;
  bottom: 10vw;
  top: 300vw;
  left: 800px;
} */
