#root {
  margin-top: 10vh;
  padding: 20px;
}

.component {
  margin-top: 60px;
  margin-left: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  background-color: yellow;
}

.comic-component {
  margin-top: 60px;
  margin-left: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
  background-color: yellow;
}

ul.component-list {
  list-style: none;
}

header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header img {
  height: 10vh;
  margin-left: 20px;
}

header li {
  margin: 20px;
}

.navLink {
  display: inline;
}

body {
    background-color: green;
    height: 90vh;
}

.login {
  color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: black;
}
